@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    background-color: #F2F2F2;
}

.header{
    z-index: 9999;
    position: sticky;
    top: 0;
}

.header__content{
    padding: 15px 20px;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 0.4px solid rgb(238, 238, 238);
}

.back-icon{
    position: absolute;
    left: 20px;
    font-size: 20px;
    color: #EA1D2C;
    border: none;
    background-color: transparent;
}

.header-title{
    background-color: transparent;
    text-align: center;
    line-height: 1.1;
}

.header-title h1{
    color: #444444;
    text-transform: uppercase;
    font-size: 16px;
}

.header-title h2{
    color: rgb(124, 124, 124);
    font-size: 13px;
    font-weight: 400;
}

.search-section{
    margin-top: 6px;
    background-color: white;
    padding: 10px 0;
}

.delivery{
    background-color: white;
    padding:20px 20px;
}

.delivery .delivery_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.delivery .delivery_buttons button{
    height: 35px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    background-color: #F7F7F7;
}
.delivery .delivery_buttons button:first-child{
    margin-right: 7px;
}

.delivery .delivery_buttons button p{
    font-size: 14px;
    font-weight: 500;
    color: #444444;
}

.delivery .delivery_buttons button span{
    color: #EA1D2C;
}

.delivery .delivery_buttons .button2{
    flex:1;
    justify-content: space-between;
}

.delivery .delivery_buttons .button2 .deliv_clock{
    color: #6C6C6C;
}

.search{
    background-color: #F7F7F7;
    margin-top: 6px;
}

.search-bar{
    background-color: white;
    padding: 10px 20px 10px 20px;
}

.search-bar__box{
    display: flex;
    align-items: center;
    position: relative;
}

.search-bar__box input{
    z-index: 0;
    font: 15px;
    font-weight: 500;
    padding: 0 5px 0 37px;
    box-sizing: border-box;
    background-color: #F7F7F7;
    width: 100%;
    height: 42px;
    border:none;
    border-radius: 4px;
}

.search-bar__box span{
    color: #EA1D2C;
    font-size: 32px;
    position: absolute;
    left: 5px;
}

.coupon-bar{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
}

.coupon-bar .coupon-bar__button{
    background-color:transparent ;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.coupon-bar .coupon-bar__button span{
    font-size: 15px;
    font-weight: bold;
    color: #2E5F7D;
}
.coupon-bar .coupon-bar__button span:last-child{
    margin-left: 7px;
}

.coupon-bar .coupon-bar__button p{
    font-size: 15px;
    font-weight: 500;
}

.categories{
    padding: 10px 0;
}
.categories .categories__cards{
    display: flex;
    flex-direction: row;
    align-items: start;
    overflow-x: auto;
    padding: 0 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.categories .categories__cards::-webkit-scrollbar{
    display: none;
}

.categories .categories__cards .categ__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-right: 13px;
    text-decoration: none;
}

.card__border{
    /* border: 1px solid #ccc; */
    height: 92px;
    background-color: rgb(235, 235, 235);
    padding: 1px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.categories .categories__cards .categ__card:last-child{
    margin-right: 0px;
}

.categories .categories__cards .categ__card p{
    text-align: center;
    font-size: 13px;
    color: #313131;
}

.categories .categories__cards .categ__card .card__img-circle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid white;
}

.categories .categories__cards .categ__card .card__img-circle img{
    position: absolute;
    object-fit: cover;
}

#carne{
    background-color:#E5BCB8 ;
}
#alim-basicos{
    background-color: #77B7A6;
}
#bebidas{
    background-color: #EAB7B4;
}
#bebida-alcoolica{
    background-color: #FADDBB;
}
#padaria{
    background-color:#f5ba76 ;
}

#carne img{
    width: 95%;
    bottom: -17px; 
}

#alim-basicos img{
    width: 95%;
    bottom: -23px;
}
#bebidas img{
    width: 95%;
    bottom: -20px;
}
#bebida-alcoolica img{
    width: 98%;
    bottom: -18px;
}
#padaria img{
    width: 80%;
    bottom: -10px;
}

.discount{
    display: flex;
    flex-direction: column;
    padding: 25px 0 35px 0;
}

.seemore-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}

.seemore-title h2{
    font-size: 18px;
    font-weight: bold;
    color: #444444;
}

.seemore-title a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #EA1D2C;
}

.bestseller{
    display: flex;
    flex-direction: column;
    padding: 15px 0 35px 0;
}

.discount .prod-cards, .bestseller .prod-cards{
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 17px 20px 0 20px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

}
.discount .prod-cards::-webkit-scrollbar{
    display: none;
    }

.bestseller .prod-cards::-webkit-scrollbar{
display: none;
}

.produto-card-box{
    margin-right: 13px;
    width: 110px;
}

.produto-card-box:last-child{
    margin: 0;
}

.produto-card-box .prod__card{
    text-decoration: none;
}

.prod__card .produto-card__img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F1;
    width: 110px;
    height: 110px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.prod__card .produto-card__img .produto__img{
    object-fit: cover;
    width: 90px;
    height: 90px;
}


.prod__card .produto-card__img button{
    position: absolute;
    background-color: white;
    color: #EA1D2C;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    bottom: 10px;
    right: 5px;
    box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.2)
}

.prod__card .produto-card__text .produto__preco.promo{
    color: #4EA875;
}

.prod__card .produto-card__text .produto__preco {
    font-size: 16px;
    font-weight: 500;
    color: black;
}
.prod__card .produto-card__text .produto__desconto{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.produto-card__text .produto__desconto__porcent{
    color: white;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    background-color: #4EA875;
    border-radius: 4px;
    padding: 2px;
    margin-right: 5px;

}
.produto-card__text .produto__desconto__valor{
    font-size: 13px;
    color:rgb(175, 175, 175);
    text-decoration-line: line-through;
}

.produto-card__text .produto__nome{
    font-size: 14px;
    color:#727272;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.produto-card__text .produto__descr{
    font-size: 13px;
    color:rgb(175, 175, 175);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.deliverymenu{
    z-index: 2;
    background-color: white;
    position: fixed;
    bottom: -50%;
    width: 100%;
    transition: 0.3s;
}

.deliverymenu.open{
    bottom: 0;
    transition: 0.3s;
}


.deliverymenu h2{
    color: #444444;
    font-size: 19px;
    text-align: center;
    padding: 25px;
}

.bike{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

.bike:first-child{
    margin-bottom: 10px;
}

.bike__content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bikeicon{
    color: #808080;
    margin-right: 20px;
}

.bike__text{
    color: #444444;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.bike__text .desc{
    color:rgb(175, 175, 175);
    font-size: 14px;
}

.bike-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.bike-button button {
    background-color:#EA1D2C;
    color: white;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
}